.tspacea{
	line-height: 18px;
}
.tspaceb{
	line-height: 18px;
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 400;
}

td {
	text-align: center;
	vertical-align: middle;
}

th {
	text-align: center;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color: #4cc;
}