h1{
	font-family: 'Lobster', cursive;
	font-style: normal;
	font-weight: 400;
}

span {
	margin-left:20px
}

p {
	text-align: center;
}

th{
	font-size: 20px
}

a:visited {
	color: Green;
}

a:hover {
	font-weight: bold;
}

a:active {
	text-decoration: none;
}