.tspacea{
	line-height: 4px;
}
.tspaceb{
	line-height: 4px;
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 400;
	}

th {
	background-color: #ddd;
}

td {
	text-align: center;
	vertical-align: middle;
}